h1{
    color: crimson;
    font-family:'Matura MT Script Capitals', sans-serif;
    font-size: 100px;
}

img{
    width: 150px;
    height: 150px;
}

dt{
    color: crimson;
    font-family:'Matura MT Script Capitals', sans-serif;
    font-size: 50px;
}

dd{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
}

table,tr{
        border: 5px solid darkslategray;
        border-collapse: collapse;
}