h1{
    color: crimson;
    font-family:'Matura MT Script Capitals', sans-serif;
    font-size: 100px;
}

img{
    width: 150px;
    height: 150px;
}

dt{
    color: crimson;
    font-family:'Matura MT Script Capitals', sans-serif;
    font-size: 50px;
}

dd{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
}

table, tr, td{
    width: 100%;
    border-top: 5px solid darkslategray;
    border-bottom: 5px solid darkslategray;
    border-collapse: collapse;
}

label{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
}

input{
    font-size: 25px;
}